@use '../../styles/tokens' as *;

.enquiry__privacy {
  margin-bottom: var(--spacing-xl);

  &__title {
    margin: 0 0 var(--spacing-s);
  }

  &__inset {
    padding: var(--spacing-m);
    border-left: 5px solid var(--colour-header-bg);
    background: var(--colour-muted-bg);

    @include box-radius;

    p {
      margin: 0;
    }
  }
}
